/* line 1, sass/default.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, sass/default.scss */
a {
  text-decoration: none;
}

/* line 10, sass/default.scss */
ul {
  list-style: none;
}

@font-face {
  font-family: Nephrite-Book;
  src: url("font/Nephrite Book.otf");
}

@font-face {
  font-family: Nephrite-Italic;
  src: url("font/Nephrite Italic.otf");
}

@font-face {
  font-family: Nephrite-Bold;
  src: url("font/Nephrite Bold.otf");
}

@font-face {
  font-family: Silent-Regular;
  src: url("font/silent_broadcast.ttf");
}

@font-face {
  font-family: Volvo-Regular;
  src: url("font/VolvoBroad.ttf");
}

@font-face {
  font-family: Roboto Light;
  src: url("font/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto Italic;
  src: url("font/Roboto-Italic.ttf");
}

@font-face {
  font-family: Roboto Bold;
  src: url("font/Roboto-Bold.ttf");
}

/* line 4, sass/header.scss */
header {
  /*display: none;*/
  width: 100%;
  background: url(images/header.png) no-repeat;
  padding: 15px 0;
  height: 100px;
  position: absolute;
  z-index: 5;
  border-bottom: #c49a6c solid 10px;
}
/* line 14, sass/header.scss */
header article {
  padding: 0 5px;
  margin: auto;
  position: relative;
  /*MIDIAS SOCIAIS*/
}
/* line 19, sass/header.scss */
header article div {
  vertical-align: auto;
  display: inherit;
  /*LOGO BUCCO*/
  /*LOGO BUCCO*/
  /*NAVEGADOR SITE*/
  /*CADASTRO*/
}
/* line 28, sass/header.scss */
header article div ul:first-child li {
  margin-bottom: 7px;
  padding-left: 40px;
  background-image: url(images/bullet.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}
/* line 43, sass/header.scss */
header article div ul li {
  display: block;
}
/* line 49, sass/header.scss */
header article div:first-child {
  position: relative;
  cursor: pointer;
  padding-top: 35px;
  padding-left: 30px;
  /*float: left;*/
}
/* line 61, sass/header.scss */
header article div:nth-child(2) {
  position: absolute;
  left: 25%;
  top: 0;
  cursor: pointer;
  z-index: -1;
  width: 50%;
  text-align: center;
}
/* line 70, sass/header.scss */
header article div:nth-child(2) img {
  width: 100px;
}
/* line 76, sass/header.scss */
header article div:nth-child(3) {
  display: none;
  width: 90%;
  background: url(images/over-header.png) repeat-y;
  color: #c49a6c;
  padding: 20px 0;
  font-family: Nephrite-Book;
  font-size: 28.38px;
  text-transform: uppercase;
  border-right: none;
}
/* line 89, sass/header.scss */
header article div:nth-child(3) li {
  cursor: pointer;
  margin: 0 15px;
}
/* line 93, sass/header.scss */
header article div:nth-child(3) li:hover {
  color: #FFF;
}
/* line 99, sass/header.scss */
header article div:nth-child(4) {
  display: none;
  width: 90%;
  background: url(images/over-header.png) repeat-y;
  /*background: #F00;*/
  color: #FFF;
  padding-bottom: 10px;
}
/* line 107, sass/header.scss */
header article div:nth-child(4) p {
  text-transform: uppercase;
  font-family: Nephrite-Book;
  font-size: 25.76px;
  margin-bottom: 5px;
  margin-left: 10px;
}
/* line 124, sass/header.scss */
header article div:nth-child(4) form li {
  background: none;
  padding: 0;
}
/* line 128, sass/header.scss */
header article div:nth-child(4) form input {
  width: 245px;
  color: #FFF;
  line-height: 1.2em;
  padding: 6px 8px;
  border: #FFF thin solid;
  background: transparent;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-family: Nephrite-Italic;
  font-size: 20px;
}
/* line 145, sass/header.scss */
header article div:nth-child(4) form input[type='submit'] {
  width: 150px;
  text-align: center;
  color: #792e2e;
  border: none;
  border-radius: 5px;
  background: #c49a6c;
  font-family: Nephrite-Bold;
  font-size: 20px;
}
/* line 157, sass/header.scss */
header article div:nth-child(4) form input[type='submit']:hover {
  background: #FFF;
}
/* line 167, sass/header.scss */
header article nav ul {
  display: none;
}
/* line 170, sass/header.scss */
header article nav ul li {
  margin: 0 1px;
}

/* line 2, sass/content_mob.scss */
section {
  width: 100%;
  font-family: sans-serif;
}
/* line 6, sass/content_mob.scss */
section article {
  min-height: 560px;
  width: 98%;
  min-width: 314px;
}

/* line 13, sass/content_mob.scss */
#section_um {
  height: 100vh;
}
/* line 16, sass/content_mob.scss */
#section_um > div {
  width: 100%;
  height: 100%;
}
/* line 20, sass/content_mob.scss */
#section_um > div:nth-child(1) {
  height: 100vh;
  background-image: url(images/mask_mob.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 32, sass/content_mob.scss */
#section_um > div:nth-child(2) #meuSlider {
  height: 100vh;
}
/* line 36, sass/content_mob.scss */
#section_um > div:nth-child(3) {
  height: 100vh;
}
/* line 38, sass/content_mob.scss */
#section_um > div:nth-child(3) > img {
  height: 100vh;
  display: none;
}

/* line 46, sass/content_mob.scss */
sliderhome {
  position: relative;
  height: 100vh;
}

/* line 51, sass/content_mob.scss */
.carousel-inner {
  height: 100vh;
  /*    position: absolute;
      top: 0; left: 0;    */
}
/* line 56, sass/content_mob.scss */
.carousel-inner > div {
  position: absolute;
  top: 0;
  left: 0;
  /*height: 100vh;*/
  width: 1130px !important;
}

/* line 65, sass/content_mob.scss */
#section_dois {
  /*color: #000;*/
  background-image: url(../style/images/sec_dois_mob.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
  min-height: 610px;
}
/* line 76, sass/content_mob.scss */
#section_dois article {
  padding-top: 15%;
}
/* line 79, sass/content_mob.scss */
#section_dois article div {
  position: relative;
}
/* line 82, sass/content_mob.scss */
#section_dois article div:first-child {
  display: none;
}
/* line 86, sass/content_mob.scss */
#section_dois article div:last-child {
  width: 100%;
}
/* line 89, sass/content_mob.scss */
#section_dois article div:last-child h1 {
  width: 80%;
  margin-left: 5%;
  line-height: 0.8em;
  color: #c49a6c;
  text-transform: uppercase;
  font-family: Nephrite-Bold;
  font-size-adjust: 2.8em;
  font-size: 2.8em;
}
/* line 102, sass/content_mob.scss */
#section_dois article div:last-child p {
  width: 95%;
  margin-left: 4%;
  line-height: 1em;
  margin-top: 20px;
  font-family: Nephrite-Book;
  font-size: 1.3em;
}
/* line 113, sass/content_mob.scss */
#section_dois article div:last-child p:nth-child(3) {
  width: 45%;
}
/* line 118, sass/content_mob.scss */
#section_dois article div:last-child > img {
  width: 47%;
  min-width: 150px;
  position: absolute;
  right: 10px;
  bottom: -60px;
}

/*Cardápio*/
/* line 131, sass/content_mob.scss */
#section_tres {
  padding-bottom: 7%;
  background-color: #000;
  background-image: url(../style/images/sec_tres_mob.png);
  background-repeat: no-repeat;
  background-position: center top;
}
/* line 141, sass/content_mob.scss */
#section_tres article {
  color: #FFF;
}
/* line 146, sass/content_mob.scss */
#section_tres article > div h1 {
  width: 50%;
  margin: auto;
  text-align: center;
  cursor: pointer;
  font-family: Silent-Regular;
  font-size: 3em;
}
/* line 157, sass/content_mob.scss */
#section_tres article > div h1:hover {
  color: #fff;
}
/* line 162, sass/content_mob.scss */
#section_tres article > div ul {
  width: 100%;
  padding-left: 1%;
  padding-top: 3%;
  margin-left: 0.5%;
}
/* line 171, sass/content_mob.scss */
#section_tres article > div ul li {
  position: relative;
  font-family: Roboto Italic;
  padding-left: 10%;
  margin-bottom: 10px;
  background-image: url(../style/images/bullet-list.png);
  background-repeat: no-repeat;
  background-position: 2% 5%;
  background-size: 15px;
}
/* line 187, sass/content_mob.scss */
#section_tres article > div ul li h2 {
  color: #c49a6c;
  text-transform: uppercase;
  line-height: 1em;
  font-family: Roboto Bold;
  font-size: 1em;
}
/* line 201, sass/content_mob.scss */
#section_tres #pasta {
  padding-top: 110%;
}
/* line 203, sass/content_mob.scss */
#section_tres #pasta ul {
  padding-top: 5%;
  display: none;
}
/* line 210, sass/content_mob.scss */
#section_tres #burger ul {
  display: none;
}
/* line 216, sass/content_mob.scss */
#section_tres #grill div {
  display: none;
  padding-top: 3%;
}
/* line 220, sass/content_mob.scss */
#section_tres #grill div ul {
  display: inline-table;
  /*border: none;*/
}
/* line 227, sass/content_mob.scss */
#section_tres #card {
  display: none;
}

/*PARCEIROS*/
/* line 233, sass/content_mob.scss */
#section_quatro {
  /*height: 100vh;*/
  min-height: 560px;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url(../style/images/bg-parc.jpg);
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: cover;
}
/* line 247, sass/content_mob.scss */
#section_quatro article {
  vertical-align: central;
  width: 720 !important;
  /*        position: absolute;
          top: 0;*/
  /*margin-left: -320px;*/
}
/* line 254, sass/content_mob.scss */
#section_quatro article div {
  width: 50%;
  min-width: 310px;
  margin: auto;
  display: inline-table;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
}
/* line 266, sass/content_mob.scss */
#section_quatro article div h1 {
  margin: auto;
  color: #FFF;
  vertical-align: text-bottom;
  line-height: 225px;
  background-image: url(../style/images/alert.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  text-align: center;
  text-transform: uppercase;
  font-family: Silent-Regular;
  font-size: 2.5em;
  -ms-transform: rotate(-15deg);
  /* IE 9 */
  -webkit-transform: rotate(-15deg);
  /* Safari */
  transform: rotate(-15deg);
}
/* line 290, sass/content_mob.scss */
#section_quatro article div p {
  color: #FFF;
  line-height: 0.8em;
  text-transform: uppercase;
  font-family: Volvo-Regular;
  font-size: 2.5em;
}
/* line 301, sass/content_mob.scss */
#section_quatro article div p span {
  color: #c49a6c;
}
/* line 306, sass/content_mob.scss */
#section_quatro article div form {
  margin-top: 10px;
}
/* line 309, sass/content_mob.scss */
#section_quatro article div form input[type='tel'], #section_quatro article div form input[type='email'] {
  width: 80%;
  padding: 0px 10px;
  line-height: 2.5em;
  font-family: Roboto Light;
  font-size: 1.2em;
}
/* line 319, sass/content_mob.scss */
#section_quatro article div form input[type='submit'] {
  padding: 0px 10px;
  height: 2.5em;
  background: #c49a6c;
  border: none;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: Roboto Bold;
  font-size: 1.2em;
}
/* line 335, sass/content_mob.scss */
#section_quatro article div form input[type='submit']:hover {
  color: #FFF;
}
/* line 341, sass/content_mob.scss */
#section_quatro article div:first-child {
  float: left;
}

/*CONTATO*/
/* line 350, sass/content_mob.scss */
#section_cinco {
  width: 100%;
  background-image: url(../style/images/bg-contato.jpg);
  background-repeat: no-repeat;
  background-position: top;
  font-family: Roboto Light;
}
/* line 361, sass/content_mob.scss */
#section_cinco > div {
  width: 100%;
  height: 640px !important;
  display: block;
  /*INFORMAÇÕES*/
  /*MAPS*/
}
/* line 367, sass/content_mob.scss */
#section_cinco > div:first-child {
  position: relative;
  background-image: url(../style/images/bg-info.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
/* line 375, sass/content_mob.scss */
#section_cinco > div:first-child ul {
  height: 100%;
}
/* line 378, sass/content_mob.scss */
#section_cinco > div:first-child ul li {
  height: 25%;
  padding-top: 15%;
  color: #FFF;
  /*text-align: center;*/
}
/* line 385, sass/content_mob.scss */
#section_cinco > div:first-child ul li:first-child {
  background: rgba(0, 0, 0, 0);
  /*background: rgba( 0, 0, 0, 1);*/
}
/* line 390, sass/content_mob.scss */
#section_cinco > div:first-child ul li:nth-child(2) {
  background: rgba(0, 0, 0, 0);
  /*background: rgba( 0, 0, 0, 1);*/
}
/* line 395, sass/content_mob.scss */
#section_cinco > div:first-child ul li:last-child {
  background: rgba(0, 0, 0, 0);
  /*background: rgba( 0, 0, 0, 1);*/
}
/* line 400, sass/content_mob.scss */
#section_cinco > div:first-child ul li h1 {
  margin-bottom: 10px;
  background-image: url(../style/images/borda.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-family: Roboto Bold;
}
/* line 419, sass/content_mob.scss */
#section_cinco > div:first-child ul li p {
  margin-left: 70px;
  padding-left: 50px;
}
/* line 425, sass/content_mob.scss */
#section_cinco > div:first-child ul li #cont {
  background-image: url(../style/images/contato.png);
  background-repeat: no-repeat;
  line-height: 2em;
}
/* line 433, sass/content_mob.scss */
#section_cinco > div:first-child ul li #tel {
  background-image: url(../style/images/cel.png);
  background-repeat: no-repeat;
  line-height: 3em;
  padding-left: 65px;
  margin-left: 80px;
}
/* line 443, sass/content_mob.scss */
#section_cinco > div:first-child ul li #end {
  background-image: url(../style/images/position.png);
  background-repeat: no-repeat;
  background-position: left center;
  height: 3em;
  padding-left: 60px;
  padding-top: 7px;
  margin-left: 70px;
}
/* line 459, sass/content_mob.scss */
#section_cinco > div:nth-child(2) {
  height: 320px !important;
  background: #AAA;
}
/* line 462, sass/content_mob.scss */
#section_cinco > div:nth-child(2) iframe {
  width: 100%;
  height: 100%;
}

/* line 1, sass/footer.scss */
footer {
  clear: both;
  position: relative;
  width: 100%;
  height: 70px;
  text-align: center;
  background-image: url(../style/images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*MIDIAS SOCIAIS*/
}
/* line 12, sass/footer.scss */
footer > img {
  /*display: none;*/
  width: 120px;
  margin-top: 15px;
  cursor: pointer;
}
/* line 20, sass/footer.scss */
footer nav {
  position: absolute;
  top: 18px;
  right: 7px;
}
/* line 25, sass/footer.scss */
footer nav ul li {
  display: inline;
  margin: 0 1px;
}
/* line 29, sass/footer.scss */
footer nav ul li img {
  width: 25px;
}

/* MOVIMENTO BT-SCROLL */
/* line 2, sass/action.scss */
img[title='QUADRO'] {
  -webkit-animation: moveLousa 5s infinite linear;
  /* Chrome, Safari, Opera */
  animation: moveLousa 5s infinite linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveLousa {
  /* line 11, sass/action.scss */
  0% {
    transform: rotate(4deg);
  }

  /* line 12, sass/action.scss */
  50% {
    transform: rotate(-8deg);
  }

  /* line 13, sass/action.scss */
  100% {
    transform: rotate(4deg);
  }
}

@keyframes moveLousa {
  /* line 17, sass/action.scss */
  0% {
    transform: rotate(4deg);
  }

  /* line 18, sass/action.scss */
  50% {
    transform: rotate(-8deg);
  }

  /* line 19, sass/action.scss */
  100% {
    transform: rotate(4deg);
  }
}

/*CLICK CARDÁPIO*/
/* line 28, sass/action.scss */
#card img:last-child {
  -webkit-animation: clickCard 0.5s infinite linear;
  /* Chrome, Safari, Opera */
  animation: clickCard 0.5s infinite linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes clickCard {
  /* line 37, sass/action.scss */
  0% {
    opacity: 1;
  }

  /* line 38, sass/action.scss */
  100% {
    opacity: 0.1;
  }
}

@keyframes clickCard {
  /* line 42, sass/action.scss */
  0% {
    opacity: 1;
  }

  /* line 43, sass/action.scss */
  100% {
    opacity: 0.1;
  }
}

/*HEADER*/
/* line 49, sass/action.scss */
.header {
  padding: 5px 0;
  -webkit-transition: padding ease 1s;
  transition: padding ease 1s;
}
/* line 58, sass/action.scss */
.header > div:first-child img {
  width: 90%;
  -webkit-transition: padding ease 1s;
  transition: padding ease 1s;
}
