/* line 2, ../sass/mobile/content_mob.scss */
section {
  width: 100%;
  font-family: sans-serif;
}
/* line 6, ../sass/mobile/content_mob.scss */
section article {
  min-height: 560px;
  width: 98% !important;
  min-width: 314px !important;
}

/* line 13, ../sass/mobile/content_mob.scss */
#section_um {
  height: 100vh;
}
/* line 16, ../sass/mobile/content_mob.scss */
#section_um > div {
  width: 100%;
  height: 100%;
}
/* line 20, ../sass/mobile/content_mob.scss */
#section_um > div:nth-child(1) {
  height: 100vh;
  background-image: url(images/mask_mob.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 32, ../sass/mobile/content_mob.scss */
#section_um > div:nth-child(2) #meuSlider {
  height: 100vh;
}
/* line 36, ../sass/mobile/content_mob.scss */
#section_um > div:nth-child(3) {
  height: 100vh;
}
/* line 38, ../sass/mobile/content_mob.scss */
#section_um > div:nth-child(3) > img {
  height: 100vh;
  display: none;
}

/* line 46, ../sass/mobile/content_mob.scss */
sliderhome {
  position: relative;
  height: 100vh;
}

/* line 51, ../sass/mobile/content_mob.scss */
.carousel-inner {
  height: 100vh;
  /*    position: absolute;
      top: 0; left: 0;    */
}
/* line 56, ../sass/mobile/content_mob.scss */
.carousel-inner > div {
  position: absolute;
  top: 0;
  left: 0;
  /*height: 100vh;*/
  width: 1130px !important;
}

/* line 65, ../sass/mobile/content_mob.scss */
#section_dois {
  background-image: url(../style/images/sec_dois_mob.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
  min-height: 610px;
}
/* line 75, ../sass/mobile/content_mob.scss */
#section_dois article {
  padding-top: 15%;
}
/* line 78, ../sass/mobile/content_mob.scss */
#section_dois article div {
  position: relative;
}
/* line 81, ../sass/mobile/content_mob.scss */
#section_dois article div:first-child {
  display: none;
}
/* line 86, ../sass/mobile/content_mob.scss */
#section_dois article #info {
  width: 95%;
  min-width: 314px !important;
  margin: auto;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}
/* line 94, ../sass/mobile/content_mob.scss */
#section_dois article #info h1 {
  min-width: 314px !important;
  margin-left: 5%;
  font-size-adjust: 2.8em;
  font-size: 2.8em;
}
/* line 103, ../sass/mobile/content_mob.scss */
#section_dois article #info p {
  min-width: 314px !important;
  margin-left: 5%;
  font-size: 1.3em;
}
/* line 111, ../sass/mobile/content_mob.scss */
#section_dois article #info .pgf-meio {
  min-width: auto !important;
  width: 90% !important;
}
/* line 116, ../sass/mobile/content_mob.scss */
#section_dois article #info > img {
  width: 100%;
  min-width: 150px;
  position: absolute;
  right: -50px;
  bottom: -180px;
  opacity: 1;
  z-index: -1;
}

/*Cardápio*/
/* line 130, ../sass/mobile/content_mob.scss */
#section_tres {
  padding-bottom: 7%;
  background-color: #000;
  background-image: url(../style/images/sec_tres_mob.png);
  background-repeat: no-repeat;
  background-position: center top;
}
/* line 141, ../sass/mobile/content_mob.scss */
#section_tres article > div {
  width: 100% !important;
  margin: auto;
  /*margin-left: 0;*/
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}
/* line 149, ../sass/mobile/content_mob.scss */
#section_tres article > div h1 {
  width: 100% !important;
  margin: auto;
  text-align: center;
  cursor: pointer;
  font-family: Silent-Regular;
  font-size: 3em !important;
}
/* line 160, ../sass/mobile/content_mob.scss */
#section_tres article > div h1:hover {
  color: #fff;
}
/* line 165, ../sass/mobile/content_mob.scss */
#section_tres article > div ul {
  margin-top: 0px;
  width: 98% !important;
  border: none;
  padding-left: 1%;
  padding-top: 3%;
}
/* line 175, ../sass/mobile/content_mob.scss */
#section_tres article > div ul li {
  position: relative;
  font-family: Roboto Italic;
  padding-left: 10%;
  margin-bottom: 10px;
  background-image: url(../style/images/bullet-list.png);
  background-repeat: no-repeat;
  background-position: 2% 5%;
  background-size: 15px;
}
/* line 191, ../sass/mobile/content_mob.scss */
#section_tres article > div ul li h2 {
  color: #c49a6c;
  text-transform: uppercase;
  line-height: 1em;
  font-family: Roboto Bold;
  font-size: 1em;
}
/* line 205, ../sass/mobile/content_mob.scss */
#section_tres #pasta {
  padding-top: 110%;
  padding-left: 0;
}
/* line 208, ../sass/mobile/content_mob.scss */
#section_tres #pasta ul {
  padding-top: 5%;
  display: none;
}
/* line 214, ../sass/mobile/content_mob.scss */
#section_tres #burger {
  padding-left: 0;
}
/* line 216, ../sass/mobile/content_mob.scss */
#section_tres #burger ul {
  display: none;
}
/* line 221, ../sass/mobile/content_mob.scss */
#section_tres #grill {
  /*width: 50%;*/
  margin: auto;
}
/* line 224, ../sass/mobile/content_mob.scss */
#section_tres #grill div {
  display: none;
  padding-top: 0;
  margin-top: 0px;
  border: none;
}
/* line 230, ../sass/mobile/content_mob.scss */
#section_tres #grill div ul {
  display: inline-table;
  border: none;
}
/* line 237, ../sass/mobile/content_mob.scss */
#section_tres #card {
  display: none;
}

/*PARCEIROS*/
/* line 243, ../sass/mobile/content_mob.scss */
#section_quatro {
  height: auto;
  /*min-height: 560px;*/
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url(../style/images/bg-parc.jpg);
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: cover;
}
/* line 257, ../sass/mobile/content_mob.scss */
#section_quatro article {
  vertical-align: central;
  /*width: 720 !important;*/
  /*        position: absolute;
          top: 0;*/
  /*margin-left: -320px;*/
}
/* line 264, ../sass/mobile/content_mob.scss */
#section_quatro article div {
  width: 50%;
  min-width: 310px;
  margin: auto;
  /*display: inline-table;*/
  /*                left: 5px;
                  right: 5px;
                  top: 10%;*/
  margin-bottom: 10%;
}
/* line 276, ../sass/mobile/content_mob.scss */
#section_quatro article div h1 {
  margin: auto;
  color: #FFF;
  vertical-align: text-bottom;
  line-height: 225px;
  background-image: url(../style/images/alert.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  text-align: center;
  text-transform: uppercase;
  font-family: Silent-Regular;
  font-size: 2.5em;
  -ms-transform: rotate(-15deg);
  /* IE 9 */
  -webkit-transform: rotate(-15deg);
  /* Safari */
  transform: rotate(-15deg);
}
/* line 300, ../sass/mobile/content_mob.scss */
#section_quatro article div p {
  color: #FFF;
  line-height: 0.8em;
  text-transform: uppercase;
  font-family: Volvo-Regular;
  font-size: 2.5em;
}
/* line 311, ../sass/mobile/content_mob.scss */
#section_quatro article div p span {
  color: #c49a6c;
}
/* line 316, ../sass/mobile/content_mob.scss */
#section_quatro article div form {
  margin-top: 10px;
}
/* line 319, ../sass/mobile/content_mob.scss */
#section_quatro article div form input[type='tel'], #section_quatro article div form input[type='email'] {
  width: 80%;
  padding: 0px 10px;
  line-height: 2.5em;
  font-family: Roboto Light;
  font-size: 1.2em;
}
/* line 329, ../sass/mobile/content_mob.scss */
#section_quatro article div form input[type='submit'] {
  padding: 0px 10px;
  height: 2.5em;
  background: #c49a6c;
  border: none;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: Roboto Bold;
  font-size: 1.2em;
}
/* line 345, ../sass/mobile/content_mob.scss */
#section_quatro article div form input[type='submit']:hover {
  color: #FFF;
}
/* line 351, ../sass/mobile/content_mob.scss */
#section_quatro article div:first-child {
  float: left;
}

/*CONTATO*/
/* line 360, ../sass/mobile/content_mob.scss */
#section_cinco {
  height: auto !important;
  width: 100%;
  background-image: url(../style/images/bg-contato.jpg);
  background-repeat: no-repeat;
  background-position: top;
  font-family: Roboto Light;
}
/* line 372, ../sass/mobile/content_mob.scss */
#section_cinco > div {
  width: 100%;
  height: 640px !important;
  /*display: block;*/
  /*INFORMAÇÕES*/
  /*MAPS*/
}
/* line 378, ../sass/mobile/content_mob.scss */
#section_cinco > div:first-child {
  float: none;
  position: relative;
  background-image: url(../style/images/bg-info.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
/* line 387, ../sass/mobile/content_mob.scss */
#section_cinco > div:first-child ul {
  height: auto;
  /*float: none;*/
}
/* line 391, ../sass/mobile/content_mob.scss */
#section_cinco > div:first-child ul li {
  height: 25%;
  padding-top: 15%;
  color: #FFF;
  /*text-align: center;*/
}
/* line 398, ../sass/mobile/content_mob.scss */
#section_cinco > div:first-child ul li:first-child {
  background: rgba(0, 0, 0, 0);
  /*background: rgba( 0, 0, 0, 1);*/
}
/* line 403, ../sass/mobile/content_mob.scss */
#section_cinco > div:first-child ul li:nth-child(2) {
  background: rgba(0, 0, 0, 0);
  /*background: rgba( 0, 0, 0, 1);*/
}
/* line 408, ../sass/mobile/content_mob.scss */
#section_cinco > div:first-child ul li:last-child {
  background: rgba(0, 0, 0, 0);
  /*background: rgba( 0, 0, 0, 1);*/
}
/* line 413, ../sass/mobile/content_mob.scss */
#section_cinco > div:first-child ul li h1 {
  margin-bottom: 10px;
  background-image: url(../style/images/borda.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-family: Roboto Bold;
}
/* line 432, ../sass/mobile/content_mob.scss */
#section_cinco > div:first-child ul li p {
  margin-left: 70px;
  padding-left: 50px;
}
/* line 438, ../sass/mobile/content_mob.scss */
#section_cinco > div:first-child ul li #cont {
  background-image: url(../style/images/contato.png);
  background-repeat: no-repeat;
  line-height: 2em;
}
/* line 446, ../sass/mobile/content_mob.scss */
#section_cinco > div:first-child ul li #tel {
  background-image: url(../style/images/cel.png);
  background-repeat: no-repeat;
  line-height: 3em;
  padding-left: 65px;
  margin-left: 80px;
}
/* line 456, ../sass/mobile/content_mob.scss */
#section_cinco > div:first-child ul li #end {
  background-image: url(../style/images/position.png);
  background-repeat: no-repeat;
  background-position: left center;
  height: 3em;
  padding-left: 60px;
  padding-top: 7px;
  margin-left: 70px;
}
/* line 472, ../sass/mobile/content_mob.scss */
#section_cinco > div:nth-child(2) {
  height: 320px !important;
  background: #AAA;
}
/* line 475, ../sass/mobile/content_mob.scss */
#section_cinco > div:nth-child(2) iframe {
  width: 100%;
  height: 100%;
}

/* line 483, ../sass/mobile/content_mob.scss */
#masc-block {
  display: none;
  width: 100% !important;
  height: 320px !important;
}
