/* line 1, ../sass/mobile/footer.scss */
footer {
  clear: both;
  position: relative;
  width: 100%;
  height: 70px !important;
  /*text-align: center;*/
  /*    background:{
          image: url(../style/images/bg-footer.jpg);
          repeat: no-repeat;
          size: cover;
      }*/
  /*MIDIAS SOCIAIS*/
}
/* line 12, ../sass/mobile/footer.scss */
footer > img {
  /*display: none;*/
  width: 120px;
  margin-top: 15px;
  cursor: pointer;
}
/* line 20, ../sass/mobile/footer.scss */
footer nav {
  display: block;
  position: absolute;
  top: -18px;
  right: 7px;
}
/* line 26, ../sass/mobile/footer.scss */
footer nav ul li {
  display: inline;
  margin: 0 1px;
}
/* line 30, ../sass/mobile/footer.scss */
footer nav ul li img {
  width: 25px;
}
