/* line 4, sass/content.scss */
body {
  overflow-x: hidden;
}

/* line 8, sass/content.scss */
section {
  max-width: 1920px;
}
/* line 11, sass/content.scss */
section article {
  min-width: 1200px;
  width: 76%;
  margin: auto;
}

/* line 18, sass/content.scss */
#section_um {
  height: 100vh;
  position: relative;
}
/* line 22, sass/content.scss */
#section_um > div {
  width: 100%;
  height: 100%;
}
/* line 27, sass/content.scss */
#section_um > div:first-child {
  background-image: url(images/mask.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.5;
}
/* line 41, sass/content.scss */
#section_um > div:nth-child(2) #meuSlider {
  height: 100%;
}
/* line 45, sass/content.scss */
#section_um > div > img {
  position: absolute;
  bottom: 5%;
  right: 10%;
  z-index: 3;
}

/* line 53, sass/content.scss */
.carousel-inner {
  height: 100%;
}

/*BIO*/
/* line 59, sass/content.scss */
#section_dois {
  background-image: url(images/sec_dois.png);
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 66, sass/content.scss */
#section_dois article {
  position: relative;
  /*background: #333;*/
}
/* line 70, sass/content.scss */
#section_dois article div {
  display: inline-block;
  margin-top: 5%;
}
/* line 77, sass/content.scss */
#section_dois article div:first-child {
  position: relative;
  width: 49%;
  /*background: #AAA;*/
  text-align: right;
}
/* line 84, sass/content.scss */
#section_dois article div:last-child {
  width: 600px;
  /*background: #FCA;*/
  position: relative;
  z-index: 1;
  margin-top: 8%;
  float: right;
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}
/* line 96, sass/content.scss */
#section_dois article div:last-child h1 {
  width: 80%;
  min-width: 500px;
  line-height: 0.8em;
  font-family: Nephrite-Bold;
  font-size: 4.5em;
  color: #c49a6c;
  text-transform: uppercase;
}
/* line 108, sass/content.scss */
#section_dois article div:last-child p {
  width: 80%;
  min-width: 500px;
  line-height: 1em;
  font-family: Nephrite-Book;
  font-size: 1.4em;
  margin-top: 20px;
}
/* line 119, sass/content.scss */
#section_dois article div:last-child .pgf-meio {
  min-width: auto;
  width: 45% !important;
}
/* line 124, sass/content.scss */
#section_dois article div:last-child > img {
  opacity: 0;
  width: 550px;
  position: absolute;
  right: -350px;
  bottom: -320px;
}

/*Cardápio*/
/* line 137, sass/content.scss */
#section_tres {
  background-image: url(../style/images/bg-cardapio.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
/* line 144, sass/content.scss */
#section_tres article {
  color: #FFF;
  padding: 5% 0;
}
/* line 148, sass/content.scss */
#section_tres article > div {
  margin-left: 40%;
  width: 70%;
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
/* line 155, sass/content.scss */
#section_tres article > div:last-child {
  /*background: #FCA;*/
  position: relative;
  margin-top: 2%;
  text-align: right;
  width: 50%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 167, sass/content.scss */
#section_tres article > div:last-child img:last-child {
  position: absolute;
  right: 0;
}
/* line 174, sass/content.scss */
#section_tres article > div h1 {
  font-family: Silent-Regular;
  cursor: pointer;
}
/* line 180, sass/content.scss */
#section_tres article > div h1:hover {
  color: #c49a6c;
}
/* line 185, sass/content.scss */
#section_tres article > div ul {
  margin-top: -50px;
  width: 48%;
  padding-left: 1%;
  padding-top: 3%;
  margin-left: 0.5%;
  border-left: #FFF solid thin;
}
/* line 196, sass/content.scss */
#section_tres article > div ul li {
  position: relative;
  font-family: Roboto Italic;
  padding-left: 10%;
  margin-bottom: 5px;
  background-image: url(../style/images/bullet-list.png);
  background-repeat: no-repeat;
  background-position: left center;
}
/* line 211, sass/content.scss */
#section_tres article > div ul li h2 {
  color: #c49a6c;
  text-transform: uppercase;
  line-height: 26px;
  font-family: Roboto Bold;
  font-size: 1.2em;
}
/* line 225, sass/content.scss */
#section_tres #pasta {
  width: 60%;
  padding-left: 2%;
}
/* line 229, sass/content.scss */
#section_tres #pasta h1 {
  font-size: 6em;
}
/* line 234, sass/content.scss */
#section_tres #pasta ul {
  padding-top: 5%;
  display: none;
}
/* line 240, sass/content.scss */
#section_tres #burger {
  width: 60%;
  padding-left: 5%;
}
/* line 243, sass/content.scss */
#section_tres #burger h1 {
  font-size: 10em;
}
/* line 249, sass/content.scss */
#section_tres #burger ul {
  display: none;
}
/* line 254, sass/content.scss */
#section_tres #grill {
  margin-left: 35%;
  margin-top: -1%;
}
/* line 257, sass/content.scss */
#section_tres #grill h1 {
  font-size: 8em;
}
/* line 263, sass/content.scss */
#section_tres #grill div {
  display: none;
  margin-left: 0.5%;
  margin-top: -50px;
  padding-top: 3%;
  border-left: #FFF solid thin;
}
/* line 270, sass/content.scss */
#section_tres #grill div ul {
  display: inline-table;
  border: none;
}

/* line 278, sass/content.scss */
.disable {
  display: none;
}

/* line 282, sass/content.scss */
.table {
  display: inline-table;
}

/*PARCEIROS*/
/* line 288, sass/content.scss */
#section_quatro {
  height: 680px;
  /*height: 100vh;*/
  background-image: url(../style/images/bg-parc.jpg);
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: cover;
}
/* line 298, sass/content.scss */
#section_quatro article {
  vertical-align: central;
  width: 960px;
}
/* line 302, sass/content.scss */
#section_quatro article div {
  width: 30%;
  display: inline-table;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
/* line 312, sass/content.scss */
#section_quatro article div h1 {
  -ms-transform: rotate(-15deg);
  /* IE 9 */
  -webkit-transform: rotate(-15deg);
  /* Safari */
  transform: rotate(-15deg);
  color: #FFF;
  vertical-align: text-bottom;
  line-height: 235px;
  background-image: url(../style/images/alert.png);
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  text-transform: uppercase;
  font-family: Silent-Regular;
  font-size: 3.5em;
}
/* line 334, sass/content.scss */
#section_quatro article div p {
  color: #FFF;
  line-height: 0.8em;
  text-transform: uppercase;
  font-family: Volvo-Regular;
  font-size: 3em;
}
/* line 345, sass/content.scss */
#section_quatro article div p span {
  color: #c49a6c;
}
/* line 350, sass/content.scss */
#section_quatro article div form {
  margin-top: 10px;
}
/* line 353, sass/content.scss */
#section_quatro article div form input[type='tel'], #section_quatro article div form input[type='email'] {
  width: 80%;
  padding: 0px 10px;
  line-height: 2.5em;
  font-family: Roboto Light;
  font-size: 1.2em;
}
/* line 363, sass/content.scss */
#section_quatro article div form input[type='submit'] {
  padding: 0px 10px;
  height: 2.5em;
  background: #c49a6c;
  border: none;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: Roboto Bold;
  font-size: 1.2em;
}
/* line 379, sass/content.scss */
#section_quatro article div form input[type='submit']:hover {
  color: #FFF;
}
/* line 385, sass/content.scss */
#section_quatro article div:first-child {
  float: left;
}

/*CONTATO*/
/* line 394, sass/content.scss */
#section_cinco {
  height: 640px;
  margin-bottom: 15px;
  padding-top: 20px;
  background-image: url(../style/images/bg-contato.jpg);
  background-repeat: no-repeat;
  background-position: top;
  font-family: Roboto Light;
}
/* line 409, sass/content.scss */
#section_cinco > div {
  width: 50%;
  display: inline-block;
  /*INFORMAÇÕES*/
  /*MAPS*/
}
/* line 414, sass/content.scss */
#section_cinco > div:first-child {
  position: relative;
  float: left;
  background-image: url(../style/images/bg-info.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
/* line 423, sass/content.scss */
#section_cinco > div:first-child ul {
  width: 400px;
  height: 640px;
  /*                position: absolute;
                  right: 0;*/
  float: right;
}
/* line 431, sass/content.scss */
#section_cinco > div:first-child ul li {
  padding: 13.6% 0 13.5% 0;
  color: #FFF;
  /*text-align: center;*/
}
/* line 437, sass/content.scss */
#section_cinco > div:first-child ul li:first-child {
  background: rgba(0, 0, 0, 0.4);
  /*background: rgba( 0, 0, 0, 1);*/
}
/* line 442, sass/content.scss */
#section_cinco > div:first-child ul li:nth-child(2) {
  background: rgba(0, 0, 0, 0.6);
  /*background: rgba( 0, 0, 0, 1);*/
}
/* line 447, sass/content.scss */
#section_cinco > div:first-child ul li:last-child {
  background: rgba(0, 0, 0, 0.8);
  /*background: rgba( 0, 0, 0, 1);*/
}
/* line 452, sass/content.scss */
#section_cinco > div:first-child ul li h1 {
  margin-bottom: 10px;
  background-image: url(../style/images/borda.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-family: Roboto Bold;
}
/* line 471, sass/content.scss */
#section_cinco > div:first-child ul li p {
  margin-left: 70px;
  padding-left: 50px;
}
/* line 477, sass/content.scss */
#section_cinco > div:first-child ul li #cont {
  background-image: url(../style/images/contato.png);
  background-repeat: no-repeat;
  line-height: 2em;
}
/* line 485, sass/content.scss */
#section_cinco > div:first-child ul li #tel {
  background-image: url(../style/images/cel.png);
  background-repeat: no-repeat;
  line-height: 3em;
  padding-left: 65px;
  margin-left: 80px;
}
/* line 495, sass/content.scss */
#section_cinco > div:first-child ul li #end {
  background-image: url(../style/images/position.png);
  background-repeat: no-repeat;
  background-position: left center;
  height: 3em;
  padding-left: 60px;
  padding-top: 7px;
  margin-left: 70px;
}
/* line 511, sass/content.scss */
#section_cinco > div:nth-child(2) {
  height: 100%;
  background: #AAA;
}
/* line 514, sass/content.scss */
#section_cinco > div:nth-child(2) iframe {
  width: 100%;
  height: 100%;
}
/* line 521, sass/content.scss */
#section_cinco #masc-block {
  background: rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 640px;
  position: absolute;
  z-index: 3;
}

/* line 530, sass/content.scss */
div.login {
  display: none;
}
