/* line 1, sass/mobile/default.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, sass/mobile/default.scss */
a {
  text-decoration: none;
}

/* line 10, sass/mobile/default.scss */
ul {
  list-style: none;
}

@font-face {
  font-family: Nephrite-Book;
  src: url("font/Nephrite Book.otf");
}

@font-face {
  font-family: Nephrite-Italic;
  src: url("font/Nephrite Italic.otf");
}

@font-face {
  font-family: Nephrite-Bold;
  src: url("font/Nephrite Bold.otf");
}

@font-face {
  font-family: Silent-Regular;
  src: url("font/silent_broadcast.ttf");
}

@font-face {
  font-family: Volvo-Regular;
  src: url("font/VolvoBroad.ttf");
}

@font-face {
  font-family: Roboto Light;
  src: url("font/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto Italic;
  src: url("font/Roboto-Italic.ttf");
}

@font-face {
  font-family: Roboto Bold;
  src: url("font/Roboto-Bold.ttf");
}

/* line 4, sass/header.scss */
header {
  width: 100%;
  background: url(images/header.png) no-repeat;
  padding: 23px 0 23px 0;
  position: fixed;
  z-index: 5;
  border-bottom: #c49a6c solid 10px;
}
/* line 12, sass/header.scss */
header article {
  width: 1180px;
  padding: 0 10px;
  margin: auto;
}
/* line 17, sass/header.scss */
header article div {
  vertical-align: middle;
  display: inline-block;
  /*MENU MOBILE*/
  /*LOGO BUCCO*/
  /*NAVEGADOR SITE*/
  /*CADASTRO*/
  /*MIDIAS SOCIAIS*/
}
/* line 22, sass/header.scss */
header article div ul li {
  display: inline-block;
}
/* line 28, sass/header.scss */
header article div:first-child {
  display: none;
}
/* line 33, sass/header.scss */
header article div:nth-child(2) {
  cursor: pointer;
  width: 100px;
  text-align: center;
  display: inline-block;
}
/* line 39, sass/header.scss */
header article div:nth-child(2) img {
  width: 100%;
}
/* line 45, sass/header.scss */
header article div:nth-child(3) {
  color: #c49a6c;
  padding: 20px 0;
  font-family: Nephrite-Book;
  font-size: 28.38px;
  text-transform: uppercase;
  border-right: #c49a6c thin solid;
}
/* line 55, sass/header.scss */
header article div:nth-child(3) li {
  cursor: pointer;
  margin: 0 15px;
}
/* line 59, sass/header.scss */
header article div:nth-child(3) li:hover {
  color: #FFF;
}
/* line 65, sass/header.scss */
header article div:nth-child(4) {
  visibility: hidden;
  padding: 0 20px;
  color: #FFF;
  width: 390px;
}
/* line 71, sass/header.scss */
header article div:nth-child(4) a {
  color: #FFF;
  font-family: Nephrite-Book;
  font-size: 16px;
}
/* line 78, sass/header.scss */
header article div:nth-child(4) a:hover {
  color: #c49a6c;
}
/* line 83, sass/header.scss */
header article div:nth-child(4) p {
  text-transform: uppercase;
  font-family: Nephrite-Book;
  font-size: 25.76px;
  margin-bottom: 5px;
}
/* line 94, sass/header.scss */
header article div:nth-child(4) form input {
  color: #FFF;
  height: 100%;
  line-height: 1.2em;
  padding: 6px 8px;
  border: #FFF thin solid;
  background: transparent;
  border-radius: 5px;
  font-family: Nephrite-Italic;
  font-size: 20px;
}
/* line 107, sass/header.scss */
header article div:nth-child(4) form input[type='submit'] {
  cursor: pointer;
  text-align: center;
  color: #792e2e;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #c49a6c;
  font-family: Nephrite-Bold;
  font-size: 20px;
}
/* line 120, sass/header.scss */
header article div:nth-child(4) form input[type='submit']:hover {
  background: #FFF;
}
/* line 128, sass/header.scss */
header article div #nav-social ul {
  display: inline-block;
}
/* line 130, sass/header.scss */
header article div #nav-social ul li {
  margin: 0 1px;
}

/* line 4, sass/content.scss */
body {
  overflow-x: hidden;
}

/* line 8, sass/content.scss */
section {
  max-width: 1920px;
}
/* line 11, sass/content.scss */
section article {
  min-width: 1200px;
  width: 76%;
  margin: auto;
}

/* line 18, sass/content.scss */
#section_um {
  height: 100vh;
  position: relative;
}
/* line 22, sass/content.scss */
#section_um > div {
  width: 100%;
  height: 100%;
}
/* line 27, sass/content.scss */
#section_um > div:first-child {
  background-image: url(images/mask.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.5;
}
/* line 41, sass/content.scss */
#section_um > div:nth-child(2) #meuSlider {
  height: 100%;
}
/* line 45, sass/content.scss */
#section_um > div > img {
  position: absolute;
  bottom: 5%;
  right: 10%;
  z-index: 3;
}

/* line 53, sass/content.scss */
.carousel-inner {
  height: 100%;
}

/*BIO*/
/* line 59, sass/content.scss */
#section_dois {
  background-image: url(images/sec_dois.png);
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 66, sass/content.scss */
#section_dois article {
  position: relative;
  /*background: #333;*/
}
/* line 70, sass/content.scss */
#section_dois article div {
  display: inline-block;
  margin-top: 5%;
}
/* line 77, sass/content.scss */
#section_dois article div:first-child {
  position: relative;
  width: 49%;
  /*background: #AAA;*/
  text-align: right;
}
/* line 83, sass/content.scss */
#section_dois article div:first-child img[title="QUADRO"] {
  -ms-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
/* line 90, sass/content.scss */
#section_dois article div:last-child {
  width: 600px;
  /*background: #FCA;*/
  position: relative;
  z-index: 1;
  margin-top: 8%;
  float: right;
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}
/* line 102, sass/content.scss */
#section_dois article div:last-child h1 {
  width: 80%;
  min-width: 500px;
  line-height: 0.8em;
  font-family: Nephrite-Bold;
  font-size: 4.5em;
  color: #c49a6c;
  text-transform: uppercase;
}
/* line 114, sass/content.scss */
#section_dois article div:last-child p {
  width: 80%;
  min-width: 500px;
  line-height: 1em;
  font-family: Nephrite-Book;
  font-size: 1.4em;
  margin-top: 20px;
}
/* line 125, sass/content.scss */
#section_dois article div:last-child .pgf-meio {
  min-width: auto;
  width: 45% !important;
}
/* line 130, sass/content.scss */
#section_dois article div:last-child > img {
  opacity: 0;
  width: 550px;
  position: absolute;
  right: -350px;
  bottom: -320px;
}

/*Cardápio*/
/* line 143, sass/content.scss */
#section_tres {
  background-image: url(../style/images/bg-cardapio.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
/* line 150, sass/content.scss */
#section_tres article {
  color: #FFF;
  padding: 5% 0;
}
/* line 154, sass/content.scss */
#section_tres article > div {
  margin-left: 40%;
  width: 70%;
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
/* line 161, sass/content.scss */
#section_tres article > div:last-child {
  /*background: #FCA;*/
  position: relative;
  margin-top: 2%;
  text-align: right;
  width: 50%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 173, sass/content.scss */
#section_tres article > div:last-child img:last-child {
  position: absolute;
  right: 0;
}
/* line 180, sass/content.scss */
#section_tres article > div h1 {
  font-family: Silent-Regular;
  cursor: pointer;
}
/* line 186, sass/content.scss */
#section_tres article > div h1:hover {
  color: #c49a6c;
}
/* line 191, sass/content.scss */
#section_tres article > div ul {
  margin-top: -50px;
  width: 48%;
  padding-left: 1%;
  padding-top: 3%;
  margin-left: 0.5%;
  border-left: #FFF solid thin;
}
/* line 202, sass/content.scss */
#section_tres article > div ul li {
  position: relative;
  font-family: Roboto Italic;
  padding-left: 10%;
  margin-bottom: 5px;
  background-image: url(../style/images/bullet-list.png);
  background-repeat: no-repeat;
  background-position: left center;
}
/* line 217, sass/content.scss */
#section_tres article > div ul li h2 {
  color: #c49a6c;
  text-transform: uppercase;
  line-height: 26px;
  font-family: Roboto Bold;
  font-size: 1.2em;
}
/* line 231, sass/content.scss */
#section_tres #pasta {
  width: 60%;
  padding-left: 2%;
}
/* line 235, sass/content.scss */
#section_tres #pasta h1 {
  font-size: 6em;
}
/* line 240, sass/content.scss */
#section_tres #pasta ul {
  padding-top: 5%;
  display: none;
}
/* line 246, sass/content.scss */
#section_tres #burger {
  width: 60%;
  padding-left: 5%;
}
/* line 249, sass/content.scss */
#section_tres #burger h1 {
  font-size: 10em;
}
/* line 255, sass/content.scss */
#section_tres #burger ul {
  display: none;
}
/* line 260, sass/content.scss */
#section_tres #grill {
  margin-left: 35%;
  margin-top: -1%;
}
/* line 263, sass/content.scss */
#section_tres #grill h1 {
  font-size: 8em;
}
/* line 269, sass/content.scss */
#section_tres #grill div {
  display: none;
  margin-left: 0.5%;
  margin-top: -50px;
  padding-top: 3%;
  border-left: #FFF solid thin;
}
/* line 276, sass/content.scss */
#section_tres #grill div ul {
  display: inline-table;
  border: none;
}

/* line 284, sass/content.scss */
.disable {
  display: none;
}

/* line 288, sass/content.scss */
.table {
  display: inline-table;
}

/*PARCEIROS*/
/* line 294, sass/content.scss */
#section_quatro {
  height: 680px;
  /*height: 100vh;*/
  background-image: url(../style/images/bg-parc.jpg);
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: cover;
}
/* line 304, sass/content.scss */
#section_quatro article {
  vertical-align: central;
  width: 960px;
}
/* line 308, sass/content.scss */
#section_quatro article div {
  /*width: 30%;*/
  width: 30%;
  margin-left: 25%;
  display: inline-table;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
/* line 320, sass/content.scss */
#section_quatro article div h1 {
  -ms-transform: rotate(-15deg);
  /* IE 9 */
  -webkit-transform: rotate(-15deg);
  /* Safari */
  transform: rotate(-15deg);
  color: #FFF;
  vertical-align: text-bottom;
  line-height: 235px;
  background-image: url(../style/images/alert.png);
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  text-transform: uppercase;
  font-family: Silent-Regular;
  font-size: 3.5em;
}
/* line 342, sass/content.scss */
#section_quatro article div p {
  color: #FFF;
  line-height: 0.8em;
  text-transform: uppercase;
  font-family: Volvo-Regular;
  font-size: 3em;
}
/* line 353, sass/content.scss */
#section_quatro article div p span {
  color: #c49a6c;
}
/* line 358, sass/content.scss */
#section_quatro article div form {
  margin-top: 10px;
}
/* line 361, sass/content.scss */
#section_quatro article div form input[type='tel'], #section_quatro article div form input[type='email'] {
  width: 80%;
  padding: 0px 10px;
  line-height: 2.5em;
  font-family: Roboto Light;
  font-size: 1.2em;
}
/* line 371, sass/content.scss */
#section_quatro article div form input[type='submit'] {
  padding: 0px 10px;
  height: 2.5em;
  background: #c49a6c;
  border: none;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: Roboto Bold;
  font-size: 1.2em;
}
/* line 387, sass/content.scss */
#section_quatro article div form input[type='submit']:hover {
  color: #FFF;
}
/* line 393, sass/content.scss */
#section_quatro article div:last-child {
  /*float: left;*/
  display: none;
}

/*CONTATO*/
/* line 403, sass/content.scss */
#section_cinco {
  height: 640px;
  margin-bottom: 15px;
  padding-top: 20px;
  background-image: url(../style/images/bg-contato.jpg);
  background-repeat: no-repeat;
  background-position: top;
  font-family: Roboto Light;
}
/* line 418, sass/content.scss */
#section_cinco > div {
  width: 50%;
  display: inline-block;
  /*INFORMAÇÕES*/
  /*MAPS*/
}
/* line 423, sass/content.scss */
#section_cinco > div:first-child {
  position: relative;
  float: left;
  background-image: url(../style/images/bg-info.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
/* line 432, sass/content.scss */
#section_cinco > div:first-child ul {
  width: 400px;
  height: 640px;
  /*                position: absolute;
                  right: 0;*/
  float: right;
}
/* line 440, sass/content.scss */
#section_cinco > div:first-child ul li {
  padding: 13.6% 0 13.5% 0;
  color: #FFF;
  /*text-align: center;*/
}
/* line 446, sass/content.scss */
#section_cinco > div:first-child ul li:first-child {
  background: rgba(0, 0, 0, 0.4);
  /*background: rgba( 0, 0, 0, 0.4);*/
}
/* line 451, sass/content.scss */
#section_cinco > div:first-child ul li:nth-child(2) {
  background: rgba(0, 0, 0, 0.6);
  /*background: rgba( 0, 0, 0, 0.6);*/
}
/* line 456, sass/content.scss */
#section_cinco > div:first-child ul li:last-child {
  background: rgba(0, 0, 0, 0.8);
  /*background: rgba( 0, 0, 0, 0.8);*/
}
/* line 461, sass/content.scss */
#section_cinco > div:first-child ul li h1 {
  margin-bottom: 10px;
  background-image: url(../style/images/borda.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-family: Roboto Bold;
}
/* line 480, sass/content.scss */
#section_cinco > div:first-child ul li p {
  margin-left: 70px;
  padding-left: 50px;
}
/* line 486, sass/content.scss */
#section_cinco > div:first-child ul li #cont {
  background-image: url(../style/images/contato.png);
  background-repeat: no-repeat;
  line-height: 2em;
}
/* line 494, sass/content.scss */
#section_cinco > div:first-child ul li #tel {
  background-image: url(../style/images/cel.png);
  background-repeat: no-repeat;
  line-height: 3em;
  padding-left: 65px;
  margin-left: 80px;
}
/* line 504, sass/content.scss */
#section_cinco > div:first-child ul li #end {
  background-image: url(../style/images/position.png);
  background-repeat: no-repeat;
  background-position: left center;
  height: 3em;
  padding-left: 60px;
  padding-top: 7px;
  margin-left: 70px;
}
/* line 520, sass/content.scss */
#section_cinco > div:nth-child(2) {
  height: 100%;
  background: #AAA;
}
/* line 523, sass/content.scss */
#section_cinco > div:nth-child(2) iframe {
  width: 100%;
  height: 100%;
}
/* line 530, sass/content.scss */
#section_cinco #masc-block {
  background: rgba(0, 0, 0, 0.5);
  /*background: rgba( 0, 0, 0, 0.5);*/
  width: 50%;
  height: 640px;
  position: absolute;
  z-index: 3;
}

/* line 540, sass/content.scss */
div.login {
  display: none;
}

/* line 1, sass/footer.scss */
footer {
  height: 170px;
  text-align: center;
  background-image: url(../style/images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 10, sass/footer.scss */
footer img {
  margin-top: 40px;
  cursor: pointer;
}
/* line 14, sass/footer.scss */
footer nav {
  display: none;
}

@media only screen and (max-width: 400px) {
  /* line 4, sass/mobile/header.scss */
  header {
    padding: 15px 0;
    height: 100px;
    position: absolute;
    /*    z-index: 5;
        border-bottom: $dourado solid 10px;*/
  }
  /* line 11, sass/mobile/header.scss */
  header article {
    width: 95%;
    padding: 0 5px;
    margin: auto;
    position: relative;
    /*MIDIAS SOCIAIS*/
  }
  /* line 17, sass/mobile/header.scss */
  header article div {
    display: inherit;
    /*MENU MOBILE*/
    /*LOGO BUCCO*/
    /*NAVEGADOR SITE*/
    /*CADASTRO*/
  }
  /* line 23, sass/mobile/header.scss */
  header article div ul:first-child li {
    margin-bottom: 7px;
    padding-left: 40px;
    background-image: url(images/bullet.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
  }
  /* line 38, sass/mobile/header.scss */
  header article div ul li {
    display: block;
  }
  /* line 44, sass/mobile/header.scss */
  header article div:first-child {
    display: block;
    width: 40px;
    position: relative;
    cursor: pointer;
    padding-top: 35px;
    padding-left: 30px;
  }
  /* line 56, sass/mobile/header.scss */
  header article div:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
  }
  /* line 63, sass/mobile/header.scss */
  header article div:nth-child(2) img {
    width: 100px;
  }
  /* line 69, sass/mobile/header.scss */
  header article div:nth-child(3) {
    display: none;
    /*width: 90%;*/
    background: url(images/over-header.png) repeat-y;
    color: #c49a6c;
    padding: 20px 0;
    font-family: Nephrite-Book;
    font-size: 28.38px;
    text-transform: uppercase;
    border-right: none;
  }
  /* line 82, sass/mobile/header.scss */
  header article div:nth-child(3) li {
    cursor: pointer;
    margin: 0 15px;
  }
  /* line 86, sass/mobile/header.scss */
  header article div:nth-child(3) li:hover {
    color: #FFF;
  }
  /* line 92, sass/mobile/header.scss */
  header article div:nth-child(4) {
    display: none;
    width: 90%;
    background: url(images/over-header.png) repeat-y;
    color: #FFF;
    padding-bottom: 10px;
  }
  /* line 99, sass/mobile/header.scss */
  header article div:nth-child(4) p {
    text-transform: uppercase;
    font-family: Nephrite-Book;
    font-size: 25.76px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  /* line 116, sass/mobile/header.scss */
  header article div:nth-child(4) form li {
    background: none;
    padding: 0;
  }
  /* line 120, sass/mobile/header.scss */
  header article div:nth-child(4) form input {
    width: 245px;
    color: #FFF;
    line-height: 1.2em;
    padding: 6px 8px;
    border: #FFF thin solid;
    background: transparent;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-family: Nephrite-Italic;
    font-size: 20px;
  }
  /* line 137, sass/mobile/header.scss */
  header article div:nth-child(4) form input[type='submit'] {
    width: 150px;
    text-align: center;
    color: #792e2e;
    border: none;
    border-radius: 5px;
    background: #c49a6c;
    font-family: Nephrite-Bold;
    font-size: 20px;
  }
  /* line 149, sass/mobile/header.scss */
  header article div:nth-child(4) form input[type='submit']:hover {
    background: #FFF;
  }
  /* line 158, sass/mobile/header.scss */
  header article #nav-social {
    display: none;
  }
  /* line 161, sass/mobile/header.scss */
  header article #nav-social ul li {
    margin: 0 1px;
  }

  /* line 2, sass/mobile/content_mob.scss */
  section {
    width: 100%;
    font-family: sans-serif;
  }
  /* line 6, sass/mobile/content_mob.scss */
  section article {
    min-height: 560px;
    width: 98% !important;
    min-width: 314px !important;
  }

  /* line 13, sass/mobile/content_mob.scss */
  #section_um {
    height: 100vh;
  }
  /* line 16, sass/mobile/content_mob.scss */
  #section_um > div {
    width: 100%;
    height: 100%;
  }
  /* line 20, sass/mobile/content_mob.scss */
  #section_um > div:nth-child(1) {
    height: 100vh;
    background-image: url(images/mask_mob.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  /* line 32, sass/mobile/content_mob.scss */
  #section_um > div:nth-child(2) #meuSlider {
    height: 100vh;
  }
  /* line 36, sass/mobile/content_mob.scss */
  #section_um > div:nth-child(3) {
    height: 100vh;
  }
  /* line 38, sass/mobile/content_mob.scss */
  #section_um > div:nth-child(3) > img {
    height: 100vh;
    display: none;
  }

  /* line 46, sass/mobile/content_mob.scss */
  sliderhome {
    position: relative;
    height: 100vh;
  }

  /* line 51, sass/mobile/content_mob.scss */
  .carousel-inner {
    height: 100vh;
    /*    position: absolute;
        top: 0; left: 0;    */
  }
  /* line 56, sass/mobile/content_mob.scss */
  .carousel-inner > div {
    position: absolute;
    top: 0;
    left: 0;
    /*height: 100vh;*/
    width: 1130px !important;
  }

  /* line 65, sass/mobile/content_mob.scss */
  #section_dois {
    background-image: url(../style/images/sec_dois_mob.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
    min-height: 610px;
  }
  /* line 75, sass/mobile/content_mob.scss */
  #section_dois article {
    padding-top: 15%;
  }
  /* line 78, sass/mobile/content_mob.scss */
  #section_dois article div {
    position: relative;
  }
  /* line 81, sass/mobile/content_mob.scss */
  #section_dois article div:first-child {
    display: none;
  }
  /* line 86, sass/mobile/content_mob.scss */
  #section_dois article #info {
    width: 95%;
    min-width: 314px !important;
    margin: auto;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
  /* line 94, sass/mobile/content_mob.scss */
  #section_dois article #info h1 {
    min-width: 314px !important;
    margin-left: 5%;
    font-size-adjust: 2.8em;
    font-size: 2.8em;
  }
  /* line 103, sass/mobile/content_mob.scss */
  #section_dois article #info p {
    min-width: 314px !important;
    margin-left: 5%;
    font-size: 1.3em;
  }
  /* line 111, sass/mobile/content_mob.scss */
  #section_dois article #info .pgf-meio {
    min-width: auto !important;
    width: 90% !important;
  }
  /* line 116, sass/mobile/content_mob.scss */
  #section_dois article #info > img {
    width: 100%;
    min-width: 150px;
    position: absolute;
    right: -50px;
    bottom: -180px;
    opacity: 1;
    z-index: -1;
  }

  /*Cardápio*/
  /* line 130, sass/mobile/content_mob.scss */
  #section_tres {
    padding-bottom: 7%;
    background-color: #000;
    background-image: url(../style/images/sec_tres_mob.png);
    background-repeat: no-repeat;
    background-position: center top;
  }
  /* line 141, sass/mobile/content_mob.scss */
  #section_tres article > div {
    width: 100% !important;
    margin: auto;
    /*margin-left: 0;*/
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
  /* line 149, sass/mobile/content_mob.scss */
  #section_tres article > div h1 {
    width: 100% !important;
    margin: auto;
    text-align: center;
    cursor: pointer;
    font-family: Silent-Regular;
    font-size: 3em !important;
  }
  /* line 160, sass/mobile/content_mob.scss */
  #section_tres article > div h1:hover {
    color: #fff;
  }
  /* line 165, sass/mobile/content_mob.scss */
  #section_tres article > div ul {
    margin-top: 0px;
    width: 98% !important;
    border: none;
    padding-left: 1%;
    padding-top: 3%;
  }
  /* line 175, sass/mobile/content_mob.scss */
  #section_tres article > div ul li {
    position: relative;
    font-family: Roboto Italic;
    padding-left: 10%;
    margin-bottom: 10px;
    background-image: url(../style/images/bullet-list.png);
    background-repeat: no-repeat;
    background-position: 2% 5%;
    background-size: 15px;
  }
  /* line 191, sass/mobile/content_mob.scss */
  #section_tres article > div ul li h2 {
    color: #c49a6c;
    text-transform: uppercase;
    line-height: 1em;
    font-family: Roboto Bold;
    font-size: 1em;
  }
  /* line 205, sass/mobile/content_mob.scss */
  #section_tres #pasta {
    padding-top: 110%;
    padding-left: 0;
  }
  /* line 208, sass/mobile/content_mob.scss */
  #section_tres #pasta ul {
    padding-top: 5%;
    display: none;
  }
  /* line 214, sass/mobile/content_mob.scss */
  #section_tres #burger {
    padding-left: 0;
  }
  /* line 216, sass/mobile/content_mob.scss */
  #section_tres #burger ul {
    display: none;
  }
  /* line 221, sass/mobile/content_mob.scss */
  #section_tres #grill {
    /*width: 50%;*/
    margin: auto;
  }
  /* line 224, sass/mobile/content_mob.scss */
  #section_tres #grill div {
    display: none;
    padding-top: 0;
    margin-top: 0px;
    border: none;
  }
  /* line 230, sass/mobile/content_mob.scss */
  #section_tres #grill div ul {
    display: inline-table;
    border: none;
  }
  /* line 237, sass/mobile/content_mob.scss */
  #section_tres #card {
    display: none;
  }

  /*PARCEIROS*/
  /* line 243, sass/mobile/content_mob.scss */
  #section_quatro {
    height: auto;
    /*min-height: 560px;*/
    min-width: 320px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(../style/images/bg-parc.jpg);
    background-repeat: no-repeat;
    background-position: center 75%;
    background-size: cover;
  }
  /* line 257, sass/mobile/content_mob.scss */
  #section_quatro article {
    vertical-align: central;
    /*width: 720 !important;*/
    /*        position: absolute;
            top: 0;*/
    /*margin-left: -320px;*/
  }
  /* line 264, sass/mobile/content_mob.scss */
  #section_quatro article div {
    width: 50%;
    min-width: 310px;
    margin: auto;
    /*display: inline-table;*/
    /*                left: 5px;
                    right: 5px;
                    top: 10%;*/
    margin-bottom: 10%;
  }
  /* line 276, sass/mobile/content_mob.scss */
  #section_quatro article div h1 {
    margin: auto;
    color: #FFF;
    vertical-align: text-bottom;
    line-height: 225px;
    background-image: url(../style/images/alert.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    text-align: center;
    text-transform: uppercase;
    font-family: Silent-Regular;
    font-size: 2.5em;
    -ms-transform: rotate(-15deg);
    /* IE 9 */
    -webkit-transform: rotate(-15deg);
    /* Safari */
    transform: rotate(-15deg);
  }
  /* line 300, sass/mobile/content_mob.scss */
  #section_quatro article div p {
    color: #FFF;
    line-height: 0.8em;
    text-transform: uppercase;
    font-family: Volvo-Regular;
    font-size: 2.5em;
  }
  /* line 311, sass/mobile/content_mob.scss */
  #section_quatro article div p span {
    color: #c49a6c;
  }
  /* line 316, sass/mobile/content_mob.scss */
  #section_quatro article div form {
    margin-top: 10px;
  }
  /* line 319, sass/mobile/content_mob.scss */
  #section_quatro article div form input[type='tel'], #section_quatro article div form input[type='email'] {
    width: 80%;
    padding: 0px 10px;
    line-height: 2.5em;
    font-family: Roboto Light;
    font-size: 1.2em;
  }
  /* line 329, sass/mobile/content_mob.scss */
  #section_quatro article div form input[type='submit'] {
    padding: 0px 10px;
    height: 2.5em;
    background: #c49a6c;
    border: none;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: Roboto Bold;
    font-size: 1.2em;
  }
  /* line 345, sass/mobile/content_mob.scss */
  #section_quatro article div form input[type='submit']:hover {
    color: #FFF;
  }
  /* line 351, sass/mobile/content_mob.scss */
  #section_quatro article div:first-child {
    float: left;
  }

  /*CONTATO*/
  /* line 360, sass/mobile/content_mob.scss */
  #section_cinco {
    height: auto !important;
    width: 100%;
    background-image: url(../style/images/bg-contato.jpg);
    background-repeat: no-repeat;
    background-position: top;
    font-family: Roboto Light;
  }
  /* line 372, sass/mobile/content_mob.scss */
  #section_cinco > div {
    width: 100%;
    height: 640px !important;
    /*display: block;*/
    /*INFORMAÇÕES*/
    /*MAPS*/
  }
  /* line 378, sass/mobile/content_mob.scss */
  #section_cinco > div:first-child {
    float: none;
    position: relative;
    background-image: url(../style/images/bg-info.jpg);
    background-repeat: no-repeat;
    background-position: top;
  }
  /* line 387, sass/mobile/content_mob.scss */
  #section_cinco > div:first-child ul {
    height: auto;
    /*float: none;*/
  }
  /* line 391, sass/mobile/content_mob.scss */
  #section_cinco > div:first-child ul li {
    height: 25%;
    padding-top: 15%;
    color: #FFF;
    /*text-align: center;*/
  }
  /* line 398, sass/mobile/content_mob.scss */
  #section_cinco > div:first-child ul li:first-child {
    background: rgba(0, 0, 0, 0);
    /*background: rgba( 0, 0, 0, 1);*/
  }
  /* line 403, sass/mobile/content_mob.scss */
  #section_cinco > div:first-child ul li:nth-child(2) {
    background: rgba(0, 0, 0, 0);
    /*background: rgba( 0, 0, 0, 1);*/
  }
  /* line 408, sass/mobile/content_mob.scss */
  #section_cinco > div:first-child ul li:last-child {
    background: rgba(0, 0, 0, 0);
    /*background: rgba( 0, 0, 0, 1);*/
  }
  /* line 413, sass/mobile/content_mob.scss */
  #section_cinco > div:first-child ul li h1 {
    margin-bottom: 10px;
    background-image: url(../style/images/borda.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-family: Roboto Bold;
  }
  /* line 432, sass/mobile/content_mob.scss */
  #section_cinco > div:first-child ul li p {
    margin-left: 70px;
    padding-left: 50px;
  }
  /* line 438, sass/mobile/content_mob.scss */
  #section_cinco > div:first-child ul li #cont {
    background-image: url(../style/images/contato.png);
    background-repeat: no-repeat;
    line-height: 2em;
  }
  /* line 446, sass/mobile/content_mob.scss */
  #section_cinco > div:first-child ul li #tel {
    background-image: url(../style/images/cel.png);
    background-repeat: no-repeat;
    line-height: 3em;
    padding-left: 65px;
    margin-left: 80px;
  }
  /* line 456, sass/mobile/content_mob.scss */
  #section_cinco > div:first-child ul li #end {
    background-image: url(../style/images/position.png);
    background-repeat: no-repeat;
    background-position: left center;
    height: 3em;
    padding-left: 60px;
    padding-top: 7px;
    margin-left: 70px;
  }
  /* line 472, sass/mobile/content_mob.scss */
  #section_cinco > div:nth-child(2) {
    height: 320px !important;
    background: #AAA;
  }
  /* line 475, sass/mobile/content_mob.scss */
  #section_cinco > div:nth-child(2) iframe {
    width: 100%;
    height: 100%;
  }

  /* line 483, sass/mobile/content_mob.scss */
  #masc-block {
    display: none;
    width: 100% !important;
    height: 320px !important;
  }

  /* line 1, sass/mobile/footer.scss */
  footer {
    clear: both;
    position: relative;
    width: 100%;
    height: 70px !important;
    /*text-align: center;*/
    /*    background:{
            image: url(../style/images/bg-footer.jpg);
            repeat: no-repeat;
            size: cover;
        }*/
    /*MIDIAS SOCIAIS*/
  }
  /* line 12, sass/mobile/footer.scss */
  footer > img {
    /*display: none;*/
    width: 120px;
    margin-top: 15px;
    cursor: pointer;
  }
  /* line 20, sass/mobile/footer.scss */
  footer nav {
    display: block;
    position: absolute;
    top: -18px;
    right: 7px;
  }
  /* line 26, sass/mobile/footer.scss */
  footer nav ul li {
    display: inline;
    margin: 0 1px;
  }
  /* line 30, sass/mobile/footer.scss */
  footer nav ul li img {
    width: 25px;
  }
}
/* MOVIMENTO BT-SCROLL */
/* line 2, sass/mobile/action.scss */
img[title='QUADRO'] {
  /*-webkit-animation: moveLousa 5s infinite linear;*/
  /* Chrome, Safari, Opera */
  /*animation: moveLousa 5s infinite linear;*/
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveLousa {
  /* line 11, sass/mobile/action.scss */
  0% {
    transform: rotate(4deg);
  }

  /* line 12, sass/mobile/action.scss */
  50% {
    transform: rotate(-8deg);
  }

  /* line 13, sass/mobile/action.scss */
  100% {
    transform: rotate(4deg);
  }
}

@keyframes moveLousa {
  /* line 17, sass/mobile/action.scss */
  0% {
    transform: rotate(4deg);
  }

  /* line 18, sass/mobile/action.scss */
  50% {
    transform: rotate(-8deg);
  }

  /* line 19, sass/mobile/action.scss */
  100% {
    transform: rotate(4deg);
  }
}

/*CLICK CARDÁPIO*/
/* line 28, sass/mobile/action.scss */
#card img:last-child {
  -webkit-animation: clickCard 0.5s infinite linear;
  /* Chrome, Safari, Opera */
  animation: clickCard 0.5s infinite linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes clickCard {
  /* line 37, sass/mobile/action.scss */
  0% {
    opacity: 1;
  }

  /* line 38, sass/mobile/action.scss */
  100% {
    opacity: 0.1;
  }
}

@keyframes clickCard {
  /* line 42, sass/mobile/action.scss */
  0% {
    opacity: 1;
  }

  /* line 43, sass/mobile/action.scss */
  100% {
    opacity: 0.1;
  }
}

/*HEADER*/
/* line 49, sass/mobile/action.scss */
.header {
  padding: 5px 0;
  -webkit-transition: padding ease 1s;
  transition: padding ease 1s;
}
