$dourado : rgba(196, 154, 108, 1);
section{
    width: 100%;
    font-family: sans-serif;

    article{
        min-height: 560px;
        width: 98% !important;
        min-width: 314px !important;
    }
}

#section_um{
    height: 100vh;

    >div{
        width: 100%;
        height: 100%;

        &:nth-child(1){
            height: 100vh;
            background:{
                image: url(images/mask_mob.png);
                repeat: no-repeat;
                position: center center;
            }
            position: absolute;
            top: 0; left: 0;
            z-index: 2;
        }
        &:nth-child(2){            
            #meuSlider{
                height: 100vh;
            }
        }
        &:nth-child(3){
            height: 100vh;
            >img{
                height: 100vh;
                display: none;
            }
        }
    }
}

sliderhome{
    position: relative;
    height: 100vh;
}

.carousel-inner{
    height: 100vh;
    /*    position: absolute;
        top: 0; left: 0;    */

    >div{
        position: absolute;
        top: 0; left: 0; 
        /*height: 100vh;*/
        width: 1130px !important;

    }
}

#section_dois{
    background:{
        image: url(../style/images/sec_dois_mob.png);
        repeat: no-repeat;        
        position: center top;
        size: cover;
    }
    height: 100vh;
    min-height: 610px;

    article{
        padding-top: 15%;

        div{
            position: relative;

            &:first-child{
                display: none;
            }            
        }

        #info{
            width: 95%;
            min-width: 314px !important;
            margin: auto;
            -ms-transform: none;
            -webkit-transform: none;
            transform: none;

            h1{
                min-width: 314px !important;
                margin-left: 5%;
                font:{
                    size-adjust: 2.8em;
                    size: 2.8em;
                }                    
            }

            p{
                min-width: 314px !important;
                margin-left: 5%;
                font:{
                    size: 1.3em;
                }
            }

            .pgf-meio{
                min-width: auto !important;
                width: 47% !important;
            }

            >img{
                width: 47%;
                min-width: 150px;
                position: absolute;
                right: 5px;
                bottom: -50px;
                opacity: 1;
            }
        }
    }
}

/*Cardápio*/
#section_tres{ 
    padding-bottom: 7%;
    background:{
        color: #000;
        image: url(../style/images/sec_tres_mob.png);
        repeat: no-repeat;        
        position: center top;
    }

    article{

        >div{
            width: 100% !important;
            margin: auto;
            /*margin-left: 0;*/
            -ms-transform: none;
            -webkit-transform: none;
            transform: none;

            h1{
                width: 100% !important;
                margin: auto;
                text-align: center;
                cursor: pointer;
                font:{
                    family: Silent-Regular;
                    size: 3em !important;
                }


                &:hover{
                    color: #fff;
                }
            }

            ul{
                margin-top: 0px;
                width: 98% !important;
                border: none;
                padding:{
                    left: 1%;
                    top: 3%;
                }


                li{
                    position: relative;
                    font:{
                        family: Roboto Italic;
                    }
                    padding:{
                        left: 10%;
                    }
                    margin-bottom: 10px;
                    background:{
                        image: url(../style/images/bullet-list.png);
                        repeat: no-repeat;        
                        position: 2% 5%;
                        size: 15px;
                    }

                    h2{
                        color: $dourado;
                        text-transform: uppercase;
                        line-height: 1em;
                        font:{
                            family: Roboto Bold;
                            size: 1em;
                        }
                    }
                }
            }
        }
    }

    #pasta{
        padding-top: 110%;
        padding-left: 0;
        ul{
            padding-top: 5%;
            display: none;
        }
    }

    #burger{
        padding-left: 0;
        ul{
            display: none;
        }
    }

    #grill{
        /*width: 50%;*/
        margin: auto;
        div{
            display: none;
            padding-top:0;
            margin-top: 0px;
            border: none;

            ul{
                display: inline-table;
                border: none;
            }
        }
    }

    #card{
        display: none;
    }
}

/*PARCEIROS*/
#section_quatro{
    height: auto;
    /*min-height: 560px;*/
    min-width: 320px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background:{
        image: url(../style/images/bg-parc.jpg);
        repeat: no-repeat;        
        position: center 75%;
        size: cover;
    }

    article{
        vertical-align: central;
        /*width: 720 !important;*/
        /*        position: absolute;
                top: 0;*/
        /*margin-left: -320px;*/

        div{
            width: 50%;
            min-width: 310px;
            margin: auto;
            /*display: inline-table;*/
            margin:{
/*                left: 5px;
                right: 5px;
                top: 10%;*/
                bottom: 10%;
            }

            h1{
                margin: auto;
                color: #FFF;
                vertical-align: text-bottom;
                line-height: 225px;
                background:{
                    image: url(../style/images/alert.png);
                    repeat: no-repeat;        
                    position: top;
                    size: contain;
                }
                text:{
                    align: center;
                    transform: uppercase;
                }
                font:{
                    family: Silent-Regular;
                    size: 2.5em;
                }
                -ms-transform: rotate(-15deg); /* IE 9 */
                -webkit-transform: rotate(-15deg); /* Safari */
                transform: rotate(-15deg);
            }

            p{
                color: #FFF;
                line-height: 0.8em;
                text:{
                    transform: uppercase;
                }
                font:{
                    family: Volvo-Regular;
                    size: 2.5em;
                }

                span{
                    color: $dourado;
                }
            }

            form{
                margin-top: 10px;

                input[type='tel'], input[type='email']{
                    width: 80%;
                    padding: 0px 10px;
                    line-height: 2.5em;
                    font:{
                        family: Roboto Light;
                        size: 1.2em;
                    }
                }

                input[type='submit']{
                    padding: 0px 10px;
                    height: 2.5em;
                    background: $dourado;
                    border: none;
                    margin:{
                        top: 5px;
                    }
                    text:{
                        transform: uppercase;
                    }
                    font:{
                        family: Roboto Bold;
                        size: 1.2em;
                    }

                    &:hover{
                        color: #FFF;
                    }
                }
            }

            &:first-child{
                float: left;
            }
        }
    }
}


/*CONTATO*/
#section_cinco{
    height: auto !important;
    width: 100%;
    background:{
        image: url(../style/images/bg-contato.jpg);
        repeat: no-repeat;        
        position: top;
    }
    font:{
        family: Roboto Light;
    }

    >div{
        width: 100%;
        height: 640px !important;
        /*display: block;*/

        /*INFORMAÇÕES*/
        &:first-child{
            float: none;
            position: relative;
            background:{
                image: url(../style/images/bg-info.jpg);
                repeat: no-repeat;        
                position: top;
            }

            ul{
                height: auto;
                /*float: none;*/

                li{
                    height: 25%;
                    padding-top: 15%;                    
                    color: #FFF;

                    /*text-align: center;*/

                    &:first-child{
                        background: rgba( 0, 0, 0, 0.4);
                        /*background: rgba( 0, 0, 0, 1);*/
                    }

                    &:nth-child(2){
                        background: rgba( 0, 0, 0, 0.6);
                        /*background: rgba( 0, 0, 0, 1);*/
                    }

                    &:last-child{
                        background: rgba( 0, 0, 0, 0.8);
                        /*background: rgba( 0, 0, 0, 1);*/
                    }

                    h1{
                        margin-bottom: 10px;

                        background:{
                            image: url(../style/images/borda.png);
                            repeat: no-repeat;        
                            position: center center;
                            size: contain;
                        }
                        line-height: 50px;
                        text:{
                            transform: uppercase;
                            align: center;
                        }
                        font:{
                            family: Roboto Bold;
                        }
                    }

                    p{
                        margin-left: 70px;
                        padding-left: 50px;
                    }


                    #cont{
                        background:{
                            image: url(../style/images/contato.png);
                            repeat: no-repeat;
                        }
                        line-height: 2em;
                    }

                    #tel{
                        background:{
                            image: url(../style/images/cel.png);
                            repeat: no-repeat;
                        }
                        line-height: 3em;
                        padding-left: 65px;
                        margin-left: 80px;
                    }

                    #end{
                        background:{
                            image: url(../style/images/position.png);
                            repeat: no-repeat;
                            position: left center;
                        }
                        height: 3em;
                        padding-left: 60px;
                        padding-top: 7px;
                        margin-left: 70px;
                    }
                }
            }
        }

        /*MAPS*/
        &:nth-child(2){
            height: 320px !important;
            background: #AAA;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
}

#masc-block{
    display: none;
}